[Unit]
Description=Starts Bedrock TheWilds Container

[Service]
ExecStart=/opt/bedrock-thewilds/start-container.sh

[Install]
WantedBy=multi-user.target